@import 'tailwindcss/base';
@import './fonts.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500;
}

code {
  margin: 5px 5px;
  font-weight: 500;
  background-color: rgba(30,41,59,0.08);
  padding: 5px;
  max-width: 100%;
  border-radius: .25rem;
}
code::before {
  content:  none !important ;
  }
code::after {
content: none !important ;
}
